.card_container {
  width: 55%;
  display: flex;
  margin: 0 auto;
}

.card_outer {
  width: 50%;
  padding: 25px;
}

.card_inner {
  border: 1px solid var(--background-lighter);
  background-color: var(--background);
  height: 100%;
  align-items: center;
  padding: 25px;
  border-radius: 12px;
}

.card_inner:hover {
  border: var(--primary) 1px solid;
}

p.title {
  font-size: 20px;
  margin: auto;
  color: var(--text-light);
}

p.in {
  margin: auto;
  color: var(--text-light);
}

div.olp_player {
  font-size: 19px;
  font-weight: 700;
  display: block;
  margin: auto;
  color: var(--text-light);
}

p.olp_title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin: auto;
  color: var(--text-dark);
}

@media screen and (max-width: 700px) {
  .card_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: auto;
  }

  .card_outer {
    width: 100%;
    min-height: 150px;
  }

  .card_inner {
    padding: 25px;
  }
}
