/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
  --color-blue: #3D6DDB;
  --color-blue-transparent: rgb(61, 109, 219, 0.200);
  --color-purple: #AD03FC;
  --background: #000011;
  --background-lighter: #1f2125;
  --text-light: #e2e0eb;

  --nav-background: #0c0d11;
  --shadow: #00000066;
}

/* Misc */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: var(--font-space-grotesk), sans-serif;
}

html,
body {
  color: var(--text-light);
  background-color: var(--background);
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
